<footer class="footer">
  <div class="footer__container">
    {%- for link in linklists[section.settings.footer_menu].links -%}
      <div class="footer__box footer--info">
        <ul class="footer__items">
          {%- for sublink in link.links -%}
            <li class="footer__list">
              <a href="{{ sublink.link }}" class="footer__link">{{ sublink.title }}</a>
            </li>
          {%- endfor -%}
        </ul>
      </div>
    {%- endfor -%}
    
    <div class="footer__box footer--terms">
      <p class="footer__heading body--text">{{ section.settings.page_title }}</p>
      <p class="footer__text body--text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus
        exercitationem consequatur cupiditate quae iusto, rerum in mollitia
        repudiandae...
        <a href="{{ section.settings.page_link }}" class="btn btn--small btn--read-more"
          >Read more...&nbsp;<span>&rarr;</span></a
        >
      </p>
    </div>
  </div>
  <div class="footer__container">
    <div class="footer__payment-option u-margin-top">
      <!-------------------AMEX------------------->
      <div class="icon amex-icon">
        {% include 'icon-amex' %}
      </div>
      <!-------------------mastercard------------------->
      <div class="icon mastercard-icon">
        {% include 'icon-mastercard' %}
      </div>
      <!-------------------paypal------------------->
      <div class="icon paypal-icon">
        {% include 'icon-paypal' %}
      </div>
      <!-------------------visa------------------->
      <div class="icon visa-icon">
        {% include 'icon-visa' %}
      </div>
      <!------------------------------------------------------------->
    </div>
    <div class="footer__social-media">
      <p class="footer__heading body--text">Connect with us</p>
      <div class="footer__social-media--box">
        <!-------------------facebook------------------->
        <div class="icon facebook2-icon">
          <a href="{{ section.settings.facebook }}" class="icon__link">
            {% include 'icon-facebook' %}
          </a>
        </div>
        <!-------------------instagram------------------->
        <div class="icon instagram-icon u-margin-left">

          <a href="{{ section.settings.instagram }}" class="icon__link">
            {% include 'icon-instagram' %}
          </a>
        </div>
        <!-------------------twitter------------------->
        <div class="icon twitter-icon u-margin-left">

          <a href="{{ section.settings.twitter }}" class="icon__link">
            {% include 'icon-twitter' %}
          </a>
        </div>
        <!----------------------------------------------->
      </div>
    </div>
  </div>
  <div class="footer__container footer--border-top footer--mobile">
    <div class="footer__copyright">
      <p class="footer__text body--text">&copy; {{ section.settings.copyright_text }}</p>
    </div>
    <div class="footer__designer">
      <p class="footer__text body--text">
        Designed and developed by
        <span class="footer__arrow">&rarr;</span>
        <span class="footer__author">Sayyed Abrar Akhtar</span>
      </p>
    </div>
  </div>
</footer>



{% schema %}
  {
    "name": "footer",
    "settings": [
      {
        "type": "link_list",
        "id": "footer_menu",
        "label": "Footer Menu"
      },
      {
        "type": "text",
        "id": "page_title",
        "label": "Title"
      },
      {
        "type": "url",
        "id": "page_link",
        "label": "Page link"
      },
      {
        "type": "url",
        "id": "facebook",
        "label": "Facebook"
      },
      {
        "type": "url",
        "id": "instagram",
        "label": "Instagram"
      },
      {
        "type": "url",
        "id": "twitter",
        "label": "Twitter"
      },
      {
        "type": "text",
        "id": "copyright_text",
        "label": "Copyright text"
      }
    ]
  }
{% endschema %}
